syntax: glob
notebooks/.ipynb_checkpoints/*
*.egg-info/*
*.pyc
.vscode/*
.eggs/*
.pytest_cache/*
*/UnitySDK.log
*/*/UnitySDK.log
notebooks/*.hdf
UnitySDK.log
scripts/test_submission/summary.json
scripts/test_submission/frames/*.npz
scripts/test_submission/.~lock.summary.csv#
scripts/test_submission/configs/bak/*
scripts/test_submission/test_config.1.yaml
scripts/test_submission/_temp/*
data/env_configs/debug.yaml
notebooks/temp.yaml
